@import url('https://fonts.cdnfonts.com/css/amazon-ember');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amazon Ember', Arial,sans-serif;
}
.card{
    width:400px;
    height: 400px;
    margin: 120px auto;
}
img{
    width: 135px;
    /* padding-bottom: 10px; */
    display: inline-block;
    margin: 0px 0px 10px 120px;
}
span{
    display: block;
    font-size: 30px;
    margin-bottom: 20px;
}
.input{
    width: 360px;
    font-size: 25px;
    border-color:#DDD;
}
input[type='text']{
    box-shadow: 0 0 5px rgba(244,94,56,1);
    border:2px solid  rgba(231,118,0,1);
}
.btn{
    padding:6px 150px;
    margin: 15px 0;
    background: linear-gradient(rgb(243,206,114) 0%,rgb(241,202,102) 100%);
    border: 1px solid gray;
    border-radius: 3px;
}
.card-content{
    margin: auto;
    width: 400px;
    height: 300px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
}
a{
    text-decoration: none;
    color: rgb(0,102,192);
}
.help{
    margin: 20px 0;
}
.material-icons{
    vertical-align: text-top;
}