*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",Roboto,Arial,sans-serif;
}

.card{
    width: 400px;
    height: 550px;
    margin: 20px auto;
    border: 1px solid lightgrey;
    border-radius: 10px;
    overflow-y: hidden;
}
.card-header{
    position: relative;
}
img{
    width: 100%;
}
.above-img{
    position: absolute;
    top: 0;
    background-color: white;
    border-radius: 20px;
    margin: 16px;
    padding: 5px 10px;
    font-weight: 600;
}
.content-header{
    margin-top: 15px;
    padding: 20px;
    color: grey;
    font-size: 15px;
}
.header-text{
    display: inline;
    margin: 0px 10px;
    font-weight: 600;
}
.material-symbols-outlined{
    margin: -2px;
    vertical-align: text-top;
}
h2{
    font-weight: 300;
    margin: 20px;
    margin-top: 0;
}
p{
    margin: 20px;
    font-size: 20px;
    color: grey;
}
a{
    display:inline-block ;
    margin: 0 20px;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid lightgrey;
    border-radius: 5px;
    color: rgb(26,115,232);
}